# Игнорировать файлы, создаваемые IDE
.idea/
*.iml
*.class
*.log

# Игнорировать файлы JDK и сборки
target/
bin/

# Игнорировать конфиденциальные файлы
config.properties

# Игнорировать временные файлы
*.bak
*.swp
*.tmp

# Игнорировать файлы системы
.DS_Store
Thumbs.db
